.product-page_head {
  .breadcrumb {
    background: none;
    font-size: .8125rem;
    li.breadcrumb-item {
      a {
        color: #B2B2B2;
      }
      +.active {
        color:#000;
      }
    }
  }
  h5 {
    font-size: .75rem;
  }
  .product-page_promotion__paragraph {
    font-size: .75rem;
  }
}


.productInfo {
  .productInfo_name {
    margin: .9375rem 0;
    margin-top: 0;
    h1 {
      font-size: 1.875rem;
      font-weight: 400;
    }
  }
  .productInfo_price {
    display: flex;
    font-size: 1.875rem;;
    .newPrice-alert {
      color:#FF0000;
    }
    .price {
      color: #CECECE;
      margin: 0 1rem;
    }
    .brand {
      color: #000;
      font-size: .75rem;
      margin:1rem
    }
  }
}
.badge-danger {
  color: #fff;
  background-color: #FF0000;
  // padding: 15px 25px;
  border-radius: 25px;
  font-size: .75rem;
  width: 3.0625rem;
  text-transform: uppercase;
  padding: 9px 10px;
}
.product_id {
  color: #CECECE;
}
button {
  background: #fff;
  outline: 0;
  border: 1px solid #CECECE;
  width: 2.25rem;
  height: 2.25rem;
  font-size: .8125rem;
  padding: 0;
  .color {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
}

.productInfo_data {
  font-size: .8125rem;
}
.size {
  .choose-size {
    border: 1px solid #CECECE;
    width: 11.5rem;
    height: 3.0625rem;

    border-radius: 25px;
    font-size: .8125rem;
    text-transform: uppercase;
    color: #CECECE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
}

.selected-products {
  font-family: 'Poppins',sans-serif;
  h1 {
    font-size: 1.8125rem;
    font-weight: 300;

  }
}
.show_more {
  border-radius: 25px;
  border: 1px solid #CECECE;
  width: 9.3125rem;
  height: 3.0625rem;
}
.product_additional_data {
  font-family: 'Poppins',sans-serif;
  font-size: .875rem;
  margin: 4rem 0;
  .product_additional_data_icon{
    margin: 1rem 0;
  }
  .product_additional_data_paragraph{
    h4 {

      font-size: 1rem;
      font-weight: 500;
    }
  }
}
