
<swiper
[slidesPerView]="3"
[spaceBetween]="50"
(swiper)="onSwiper($event)"
(slideChange)="onSlideChange()"
[navigation]="true"
[pagination]="{ clickable: true }"
class="selectedProductSlider"
>
<ng-template swiperSlide *ngFor="let item of products" class="col-md-4 col-12">
    <div class="selectedProduct">
      <div class="selectedProduct__img">
        <img [src]="item.imgUrl" alt="" srcset="">
      </div>
      <div class="selectedProduct__info">
        <h1>{{item.name}}</h1>
      </div>
      <div class="selectedProdcuct__info_price">
        <div *ngIf="!item.newPrice;else newPrice">
          <span>{{item.price | currency}}</span>

        </div>
        <ng-template #newPrice>
          <span class="newPrice-alert text-left">{{item.newPrice | currency}}</span>
          <span class="price text-right"><del>{{item.price | currency}}</del></span>
        </ng-template>

      </div>


    </div>

</ng-template>
</swiper>
